*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  
}

.landing-page {
  text-align: center;
}

.hero {
  transform: translate(0,-1rem);
  background: url('https://s3-us-west-2.amazonaws.com/bfxpublicos/salesupblog/100007576191.png') no-repeat center center; /* Centra la imagen */
  background-size:80rem; /* Asegura que cubra todo el área sin distorsión */
  background-color: rgb(0, 0, 0); /* Color de fondo como respaldo si la imagen no se carga */
  padding: 100px 20px;
  width: 100%;
background-position-x:33rem;
}

@media (max-width: 768px) {
  .hero {
 
    background-size: cover;
    background-position-x:0rem;
  }
}



.hero-content h1 {
  font-size: 2.75rem;
  color: aliceblue;
  transform: translate(-1rem,-5.5rem);
}
.hero-content p {
  font-size: 1rem;
  color: aliceblue;
  transform: translate(-0.6rem,-5rem);
  background-color: #c43d1400;
  width: 80%;
}

.cta-button {
  position: absolute;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(145deg, #ff5722, #e64a19);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 0px #c43e14, 0px 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  animation: heartbeat 1.5s infinite;
  margin-right: 2rem;
}

.cta-button2{
 
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(145deg, #ff5722, #e64a19);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 0px #c43e14, 0px 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  animation: heartbeat 1.5s infinite;

}
.cta-button3{
 
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(145deg, #ff5722, #e64a19);
  border-radius: 8px;
  box-shadow: 0px 8px 0px #c43e14, 0px 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  animation: heartbeat 1.5s infinite;

}


@keyframes heartbeat {
  0%, 100% {
    transform: translate(-2rem,-5rem);
    transform: scale(1);
  }
  30% {
    transform: translate(-2rem,-5rem);
    transform: scale(1.1);
  }
  60% {
    transform: translate(-2rem,-5rem);
    transform: scale(0.95);
  }
}



.cta-button:hover {
  background: #19e63b;
}



/*BENFICIO*/
  .about, .registration-form {
  padding: 50px 20px;
background-color: #ffffff;
}

.benefits {
  text-align: center;
  margin: 5px 0;
background-color: #ffffff;
}

.benefits-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.conteitepro, .conteitepr2 {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  text-align: center;
  border: solid #1c294b 0px;
}

i {
  font-size: 3rem;
  margin-bottom: 10px;
  color:#1c294b;
}




/*Nuetros cientes */


.contcientes{
  background-color: #19e63b00;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;
  margin-left: -15px;
}




.clientitem{
  width: 35%;
  height: 35%;
  max-width: 14rem;
  border-radius: 3rem;
  height: auto; /* Mantener proporción de la imagen */
  border-radius: 3rem; /* Mantener bordes redondeados */
  object-fit: cover; /* Asegura que el contenido se ajuste al tamaño del contenedor */
}

.clientitem2{
  width: 104%;
  height: 100%;
max-width: 200px;
}

.gololoog{
  background-color:#1c294b;
  width: 100%;
}
.testimonial {
  width: 87%;
  height: 100%;
  background-color:#1c294b;
  color: aliceblue;
 
  padding: 2rem;justify-content: center;
  align-items: center;
}
.testimonial p,span{
  font-size: 1.5rem;
  color: aliceblue;
}


/*derteller del curos*/
.details{
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: auto;
}
.details h2{
  background-color: #19e63b00;
 font-size: 1.8rem;
 color:#1c294b ;
}
.details p{
  background-color:#1c294b;
 font-size: 1.8rem;
 color:#fff  ;
 width: 95%;
 border-radius: 1rcap;
 padding: 0.2rem;
 box-shadow: 0rem 0.25rem 0.8rem black;
}
.about h2{
 font-size: 3rem;
 color:#1c294b;
 width: 100%;
 margin-bottom: 0.5rem;
}


.text-container span {
  color: #1c294b; /* Cambia el color al que desees */
  font-weight: bold; /* Opcional */
}


/**/ 
.registration-form form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
}

.registration-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 1rem;
  border: solid 2px  #1c294b;
  background-color: #fff;
}

.footer {
  background: #1c294b;
  color: white;
display: flex;
flex-direction: column;
}
.footer p{
  background:#1c294b;
  color: white;
display: flex;
flex-direction: column;
}

.footer .social-media a {
  color: #ff5722;
  margin: 0 10px;
  text-decoration: none;
}
/* Estilos básicos existentes aquí */

.testimonials{
  background-color: #fff;
}